@model DataBaseFirst.Models.Client

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CliNo" />
            <div class="form-group">
                <label asp-for="CliPrenom" class="control-label"></label>
                <input asp-for="CliPrenom" class="form-control" />
                <span asp-validation-for="CliPrenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CliNom" class="control-label"></label>
                <input asp-for="CliNom" class="form-control" />
                <span asp-validation-for="CliNom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CliRue" class="control-label"></label>
                <input asp-for="CliRue" class="form-control" />
                <span asp-validation-for="CliRue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CliVille" class="control-label"></label>
                <input asp-for="CliVille" class="form-control" />
                <span asp-validation-for="CliVille" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CliTelephone" class="control-label"></label>
                <input asp-for="CliTelephone" class="form-control" />
                <span asp-validation-for="CliTelephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
